{% extends "breathing_room_app/base.html" %}

{% block content %}

  <h2>Suggested breathing exercises:</h2>
  
  <p>4-7-8:</p>
  <p>4-4-4-4:</p>
  <p>Ujjayi:</p>
  <div class="container">
    <img src="/static/breathing_room_app/images/suyash-agrawal-Vz8qzJGhkG0-unsplash.jpg"
         alt="Dojo"
         width="1000"
         height="665">  
  </div>


  <div>
    Photo by <a href="https://unsplash.com/@suyash_agrawal?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Suyash Agrawal</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  
  </div>
{% endblock content %}